/* Define the cool-gradient class with custom styles */
.cool-gradient {
    position: absolute;
    inset: 0;
    top: calc(100% - 13rem);
    z-index: -10;
    transform: gpu;
    overflow: hidden;
    filter: blur(3px);
    opacity: 0.3;
    background: linear-gradient(to top right, #0366d6, #f6f8fa);
    background-size: 200% 200%;
    clip-path: polygon(
        74.1% 44.1%,
        100% 61.6%,
        97.5% 26.9%,
        85.5% 0.1%,
        80.7% 2%,
        72.5% 32.5%,
        60.2% 62.4%,
        52.4% 68.1%,
        47.5% 58.3%,
        45.2% 34.5%,
        27.5% 76.7%,
        0.1% 64.9%,
        17.9% 100%,
        27.6% 76.8%,
        76.1% 97.7%,
        74.1% 44.1%
    );
    animation: gradientShift 15s ease infinite;
}

/* Optional: Define an animation for the gradient */
@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
